h1 {
  text-align: center;
  background-color: cyan;
  color: black;
}

h2 {
  color: rgb(94, 255, 20);
}

h3 {
  color: rgb(25, 0, 255);
}

img {
  box-shadow: 10px 10px 5px rgb(11, 221, 236);
}

section {
  background-color: #000;
}

p {
  font-size: 18px;
  color: rgb(255, 47, 47);
}

ul {
  border-style: dashed;
  color: mediumspringgreen;
  width: 15%;
}

body {
  min-height: 100%;
  background-image: url(2832556b0ad81a0f0_w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
tr {
  color: rgb(241, 100, 230);
  font-size: 15px;
}
th {
  color:rgb(2, 12, 29);
  font-size: 25px;
}

.box {
  /* relative positioning */
  position: relative;
  width: 150px;
  height: 150px;
  background: #2bd4eb;
  border: 2px solid black;
}