h1 {
  text-align: center;
  background-color: cyan;
  color: skyblue;
}

h2 {
  color: rgb(94, 255, 20);
}

h3 {
  color: rgb(25, 0, 255);
}

img {
  box-shadow: 10px 10px 5px black;
}

section {
  background-color: #000;
}

p {
  font-size: 45px;
  color: greenyellow;
}

ul {
  border-style: dashed;
  color: gray;
}
