h1 {
  text-align: center;
  background-color: cyan;
  color: black;
  background-size: 50%;
}

h2 {
  color: rgb(228, 20, 255);
}

h3 {
  color: rgb(25, 0, 255);
}

img {
  box-shadow: 30px 15px 10px rgb(11, 221, 236);
}

p {
  font-size: 24px;
  color: rgb(14, 241, 230);
}

ul {
  border-style: dashed rgb(219,24,210);
  color: mediumspringgreen;
  width: 15%;
  font-size: 20px;
}

body {
  min-height: 100%;
  background-image: url(2832556b0ad81a0f0_w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
tr {
  text-align: center;
  color: rgb(241, 100, 230);
  font-size: 15px;
}
th {
  color:rgb(2, 12, 29);
  font-size: 25px;
  text-shadow: 5px;
}

.box {
  /* relative positioning */
  position: relative;
  width: 150px;
  height: 150px;
  background: #2bd4eb;
  border: 5px solid rgb(2, 2, 2);
}